* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#hero {
  width: 100%;
  height: 100vh;
  background: url(img/projectsbg.jpg) top center;
  background-size: cover;
}
#projects {
  width: 100%;
  height: 100vh;
  background: url(img/projectsbg.jpg) top center;
  background-size: cover;
}
#skills {
  width: 100%;
  height: 100vh;
  background: url(img/projectsbg.jpg) top center;
  background-size: cover;
}
#contact {
  width: 100%;
  height: 100vh;
  background: url(img/projectsbg.jpg) top center;
  background-size: cover;
}

.progress2 {
  background: rgba(0, 0, 0, 0.1);
  justify-content: flex-start;
  border-radius: 100px;
  align-items: center;
  position: relative;
  padding: 0;
  display: flex;
  height: 25px;
  width: 100%;
}

.progress-value2 {
  animation: load 4s normal forwards;
  box-shadow: 0 10px 40px -10px #fff;
  border-radius: 100px;
  background: linear-gradient(
    90deg,
    rgb(6 0 114) 0%,
    rgba(0 0 181) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  height: 25px;
  width: 0;
}

@keyframes load {
  0% {
    width: 0;
  }
}
